.logo{
    width: 200px;
    height: auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav-actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flag {
    flex: 1;
    position: 1158px auto;
    padding: 16px;
    width: 32px;
    height: auto;
    gap: 16px;
}

.navbar{
    width: 1318;
    height: 153;
    margin: 42px auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 18px;
    background-color: white;
}